*.log
*.bak
*.swp
secrets.env
*.key
**/cache/
.env
**/data/
.bash_history
.bash_logout
.bashrc
.config/
.face
.face.icon
.gitconfig
.lesshst
.profile
.selected_editor
.ssh/
.sudo_as_admin_successful
bazarr/
beszel/
homarr/
jellyfin/
jellyseerr/
nginx-proxy-manager/
prowlarr/
radarr/
readarr/
sonarr/
transmission/
